.box{
    border: 2px solid black;
    border-radius: 15px;
    width: 400px;
    background-color: #bc9d9d;
}
h1{
    color: white;
}
.child{
    color: white;
}

.number{
    width: 300px;
}
.Password{
    width: 300px;
}
.date{
    width: 300px;
}
.join{
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.Home{
    text-decoration: none;
    border: 2px solid black;
    padding: 3px;
    color: black;
}
.Home:hover{
    background-color: black;
    color: white;
}